<!-- Jumbotron Header -->
<header class="my-5">
    <h6 class="display-3" id="page-header">Add New Product</h6>
</header>
<form>
    <div class="form-group row">
        <label for="inputAlbum" class="col-lg-1 col-form-label">Album</label>
        <div class="col-lg-6">
            <input type="text" class="form-control" id="inputAlbum" placeholder="Album">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputArtist" class="col-lg-1 col-form-label">Artist</label>
        <div class="col-lg-6">
            <input type="text" class="form-control" id="inputArtist" placeholder="Artist">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputGanre" class="col-lg-1 col-form-label">Ganre</label>
        <div class="col-lg-6">
            <input type="text" class="form-control" id="inputGanre" placeholder="Ganre">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputReleased" class="col-lg-1 col-form-label">Released</label>
        <div class="col-lg-6">
            <input type="text" class="form-control" id="inputReleased" placeholder="Released">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputTime" class="col-lg-1 col-form-label">Time</label>
        <div class="col-lg-6">
            <input type="text" class="form-control" id="inputTime" placeholder="00:00">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputQuantity" class="col-lg-1 col-form-label">Quantity</label>
        <div class="col-lg-6">
            <input type="text" class="form-control" id="inputQuantity" placeholder="100">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputPrice" class="col-lg-1 col-form-label">Price in ETH</label>
        <div class="col-lg-6">
            <input type="text" class="form-control" id="inputQuantity" placeholder="1 ETH">
        </div>
    </div>
    <div class="form-group row">
        <label for="inputImage" class="col-lg-1 col-form-label">Image</label>
        <div class="col-lg-6">
            <input type="file" class="form-control" id="inputImage" placeholder="Image">
        </div>
    </div>

    <div class="form-group row">
        <div class="col-lg-7 text-right">
            <button type="submit" class="btn btn-primary" onclick="App.addNewProduct()">Add Product</button>
        </div>
    </div>

</form>